<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="com.samsung.android.providers.health.permission.READ_PRIVILEGED_HEALTH_DATA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android 14+ (API 34+) Foreground Service Health 타입 필수 권한 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="com.samsung.android.service.health.tracking" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/logo"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.samsung.android.service.health.tracking.sdk_type"
            android:value="privilege_partner" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HealthTrackingForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health" />
    </application>

</manifest>